html, body, .container, .footer{
	font-family: 'Montserrat', sans-serif;
	max-width: 100%;
    overflow-x: hidden;
	height: auto !important;
}
body.dark-mode {
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(left, #4f4f4f 2%, #111111 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #4f4f4f 2%,#111111 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #4f4f4f 2%,#111111 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
	color: #eee;
	
}
body.dark-mode #navbar{
	background-color: rgba(0,0,0,0.00);
	box-shadow: 0 0 0 0;
}
body.dark-mode #aside-nav{
	background: #00d377; /* Old browsers */
	background: -moz-linear-gradient(top, #00d377 0%, #15634c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00d377 0%,#15634c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00d377 0%,#15634c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d377', endColorstr='#15634c',GradientType=0 ); /* IE6-9 */
}
body.dark-mode .row{
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #14b77b 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #000000 0%,#14b77b 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #000000 0%,#14b77b 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#14b77b',GradientType=0 ); /* IE6-9 */
}
body.dark-mode .row-footer{
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(bottom, #000000 0%, #14b77b 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, #000000 0%,#14b77b 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, #000000 0%,#14b77b 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#14b77b',GradientType=0 ); /* IE6-9 */
}
body.light-mode {
	background-color: #eee;
	color: #111;
}
body.light-mode #navbar{
	background-color: rgba(0,0,0,0.00);
	box-shadow: 0 0 0 0;
}
body.light-mode #navbar span{
	color: #111;
}
body.light-mode #aside-nav{
	background: #00d377; /* Old browsers */
	background: -moz-linear-gradient(top, #00d377 0%, #15634c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00d377 0%,#15634c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00d377 0%,#15634c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d377', endColorstr='#15634c',GradientType=0 ); /* IE6-9 */
}
body.light-mode .row{
	color: #eee;
	background: #00d377; /* Old browsers */
	background: -moz-linear-gradient(bottom, #00d377 0%, #15634c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, #00d377 0%,#15634c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, #00d377 0%,#15634c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d377', endColorstr='#15634c',GradientType=0 ); /* IE6-9 */
}
body.light-mode .row-footer{
	color: #eee;
	background: #00d377; /* Old browsers */
	background: -moz-linear-gradient(top, #00d377 0%, #15634c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00d377 0%,#15634c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00d377 0%,#15634c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d377', endColorstr='#15634c',GradientType=0 ); /* IE6-9 */
}
.container{
	width: 100%;
	margin: 5px 5px 0 60px;
	padding-top: 64px;
	padding-right: 60px;
	transition: margin-left 0.5s, padding-right 0.5s;
	/* Safari and Chrome*/
	-webkit-transition: margin-left 0.5s, padding-right 0.5s;
}

.pg-title{
	font-size: 26pt;
	margin: 24.5px 0 24.5px 30px
}
.location{
	margin: 39px 40px 39px 0;
	text-align: right;
}
.footer{
	width: 100%;
	position:absolute;
	bottom: 0;
	margin: 5px;
	padding: 30px 100px 5px 5px;
	transition: margin-left 0.5s,padding-right 0.5s;
	/* Safari and Chrome*/
	-webkit-transition: margin-left 0.5s, padding-right 0.5s;
}
.row{
	font-family: 'Raleway', sans-serif;
}
.row-footer{
	font-family: 'Raleway', sans-serif;
	padding: 15px;
	transition: margin-left 0.5s;
	/* Safari and Chrome*/
	-webkit-transition: margin-left 0.5s;
	transition-timing-function: ease;
}
.copy{
	text-align: center;
	margin: auto;
}
#navbar{
	position: fixed;
	width: 100%;
	top: 0;
}
#navbar-logo{
	border-radius: 5px;
}
#aside-nav{
	width: 60px;
	position: fixed;
	min-height: 768px;
	float: right;
	transition: width 0.5;
	/* Safari and Chrome*/
	-webkit-transition: width 0.5s;
	transition-timing-function: ease;
 	overflow: hidden;
	display: flex;
	top: 64px;
	left: 0;
	height: 100%;
}
#aside-nav span{
	visibility: hidden;
	position: absolute;
}
#aside-nav a{
	text-decoration: none;
	color: #fff;
}
#aside-nav a:hover{
	text-decoration: none;
	color: #414141;
}
#aside-nav li{
	width: 47.5px;
	transition: width 0.5s;
	/* Safari and Chrome*/
	-webkit-transition: width 0.5s;
	transition-timing-function: ease;
	border-radius: 50px;
	background-color: #007F42;
	-moz-box-shadow: 5px 0 0 10px #77777;
	-webkit-box-shadow: 5px 0 0 10px #77777;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	margin: 5px;
}
#aside-nav li:hover{
	background-color: #00E36E;
}
@media (min-width: 1200px){
	.content{
		padding-top: 10px;
		margin-right: 10px;
	}
	#navbar-logo{
		top: 2.5px;
		width: 56px;
		height: 56px;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	.navbar-brand{
		display: flex;
		position: absolute;
		height: 56px;
		padding: unset;
	}
	#navbar-account{
		position: absolute;
		top: 0;
		right: 10px;
		border-radius: 100px;
		margin: 10px;
		padding: 5px 5px 5px 10px;
		height: 44px;
		line-height: normal;
		padding-right: 70px;
		transition: margin-left 0.5s, padding-right 0.5s;
		/* Safari and Chrome*/
		-webkit-transition: margin-left 0.5s, padding-right 0.5s;
	}
	#navbar-account:hover{
		background-color: #565656;
		text-decoration: none;
		color: #fff
	}
	#aside-nav{
		top: 0;
	}
	#aside-nav:hover{
		text-align: left;
		width: 160px;
	}
	#aside-nav li:hover{
		width: 150px;
	}
	#aside-nav span{
		margin-left: 15px;
	}
	.acc-pict{
		border-radius: 100px;
		margin: auto 0 auto 10px;
	}
}